/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Buttons */

a.navbar-btn {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.navbar-btn:hover {
    background-color: #00008b33;
    color: #ffffff;
}

.navbar-btn-logout {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-btn-logout:hover {
    background-color: #00008b33;
    color: #ffffff;
}

/* Navbar */

.custom-navbar {
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 20px;
    box-shadow: 0 2px 8px #0000001a;
}

/* Profile */
.profile-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #808080;
}

.checkbox-label {
    display: inline-block;
    margin-right: 10px;
}