* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffe0b2;
}

/* Background */

.bg-login {
    background-image: url('/img/Login-Bg-Image.jpg');
}

.bg-login-renter {
    background-image: url('/img/Login-Renter-Bg-Image.jpg');
}

.bg-login-landlord {
    background-image: url('/img/Login-Landlord-Bg-Image.jpg');
}

.bg-register {
    background-image: url('/img/Register-Bg-Image.jpg');
}

.bg-register-renter {
    background-image: url('/img/Register-Renter-Bg-Image.jpg');
}

.bg-register-landlord {
    background-image: url('/img/Register-Landlord-Bg-Image.jpg');
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Card */

.card-wrapper {
    min-height: calc(100vh - 140px);
    /* 70px navbar + 70px footer */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #0000001a;
    width: 350px;
    text-align: center;
}

/* .card a {
    text-decoration: none;
    color: white;
} */

.card h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

.card p {
    margin-bottom: 15px;
    color: #777;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-signup {
    margin-top: 2px;
    font-size: 14px;
}

.forgot {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #03a9f4;
    text-decoration: none;
}

.terms {
    margin-top: 15px;
    font-size: 12px;
}

/* Buttons */

a.btn {
    /* Button Properties */
    width: 100%;
    background-color: #03a9f4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

    /* Button - Text Properties */
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    /* Button - Behavior */
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn {
    /* Button Properties */
    width: 100%;
    background-color: #03a9f4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

    /* Button - Text Properties */
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    /* Button - Behavior */
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.btn:hover {
    background-color: #0288d1;
}

/* Divider */

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    margin-top: 5px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

/* Landlord - Register */

.card.card-register {
    width: 800px;
    max-width: 95%;
}

/* Layout em linha das seções de inputs */
.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

/* Permitir que os inputs se expandam igualmente nas linhas */
.form-row input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    appearance: none;
    /* Remove estilo padrão (Safari/Firefox) */
}

.form-row select {
    flex: 1;
    padding: 5px;
    font-size: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group p {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}